* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.app-container {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 60px;
}
.main-image {
  width: 70%;
}
.thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
}
.heading {
  font-family: 'Roboto';
  font-size: 28px;
  color: #1e293b;
}
.para {
  font-family: 'Roboto';
  font-size: 16px;
  color: grey;
}
@media screen and (max-width: 575px) {
  .main-image {
    width: 90%;
  }
  .heading {
    font-size: 22px;
  }
  .para {
    font-size: 13px;
  }
}
